.wrapper {
    display: flex;
    flex-direction: row;
}

.fileList-container {
    width: 20vw;
    height: 60vh;
    border: 1px solid black;
    position: relative;
    overflow-y: scroll;
}

ul.fileList {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    width: -moz-available;
    margin: 5px;

}

.fileList li {
    background-color: lightslategrey;
}

.fileList li.odd {
    background-color: darkgray;
}

.fileList li:active {
    background-color: cornflowerblue;
}

.fileList li.odd:active {
    background-color: cornflowerblue;
}
